/* ---------------- "Work sans" Font from fonts.google.com ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------- Common styles for website start from here ---------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
html {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a,
a:hover {
    text-decoration: none;
}
ol,
ul,
li {
    list-style: none;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin-inline: auto;
    border: 1px solid black;
}
/* ---------------- Common styles for website end here ---------------- */

/* ---------------- Shared styles start from here ---------------- */
.btn-primary {
    padding: 20px 26px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}
/* ---------------- Shared styles end here ---------------- */

/* ---------------- Header styles start from here ---------------- */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 0;
}
/* ---------------- Header styles end here ---------------- */

/* ---------------- Naavbar styles start from here ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > .logo {
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}
nav > .nav-links {
    display: flex;
    gap: 78px;
}
nav > .nav-links > li a{
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}
/* ---------------- Naavbar styles end here ---------------- */