/* ---------------- "Work sans" Font from fonts.google.com ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------- Common styles for website start from here ---------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
html {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
img {
    width: 100%;
    display: flex;
    object-fit: cover;
}
a,
a:hover {
    text-decoration: none;
}
ol,
ul,
li {
    list-style: none;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin-inline: auto;
}
/* ---------------- Common styles for website end here ---------------- */

/* ---------------- Shared styles start from here ---------------- */
.btn-primary {
    padding: 20px 26px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}
p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
/* ---------------- Shared styles end here ---------------- */

/* ---------------- Header styles start from here ---------------- */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 0;
}

/* ---------------- Naavbar styles start from here ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > .logo {
    color: #131313;
    font-size: 1.75rem;
    font-weight: 700;
}
nav > .nav-links {
    display: flex;
    gap: 78px;
}
nav > .nav-links > li a{
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}
/* ---------------- Naavbar styles end here ---------------- */

/* ---------------- Hero section CSS start from here ---------------- */
.banner {
    text-align: center;
}
.banner > .banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 100px;
}
.banner > p {
    max-width: 868px;
    margin: 32px auto;
}
.banner > button {
    margin-bottom: 50px;
}
.banner > .banner-img {
    max-height: 700px;
}
/* ---------------- Hero section CSS end here ---------------- */
/* ---------------- Header styles end here ---------------- */

/* ---------------- Team section styles start from here ---------------- */
#team {
    margin: 80px 0;
    display: flex;
    align-items: center;
    gap: 76px;
}
#team > .team-img-container-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    flex: 1;
    margin-left: 60px;
}
#team > .team-img-container-style .tem-img{
    max-height: 342px;
}
#team .team-content {
    flex: 1;
}

#team > .team-content h3 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}
#team > .team-content span:first-child {
    color: #727272;
    font-weight: 500;
}
#team > .team-content span:last-child {
    color: #131313;
    font-weight: 500;
}
#team > .team-content > p {
    margin: 24px 0 32px;
}
/* ---------------- Team section styles end here ---------------- */